---
import Container from "./Container.astro"

---

<div id="features">
  <Container>
    <div class="md:w-2/3 lg:w-1/2">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-secondary">
        <path fill-rule="evenodd" d="M9 4.5a.75.75 0 01.721.544l.813 2.846a3.75 3.75 0 002.576 2.576l2.846.813a.75.75 0 010 1.442l-2.846.813a3.75 3.75 0 00-2.576 2.576l-.813 2.846a.75.75 0 01-1.442 0l-.813-2.846a3.75 3.75 0 00-2.576-2.576l-2.846-.813a.75.75 0 010-1.442l2.846-.813A3.75 3.75 0 007.466 7.89l.813-2.846A.75.75 0 019 4.5zM18 1.5a.75.75 0 01.728.568l.258 1.036c.236.94.97 1.674 1.91 1.91l1.036.258a.75.75 0 010 1.456l-1.036.258c-.94.236-1.674.97-1.91 1.91l-.258 1.036a.75.75 0 01-1.456 0l-.258-1.036a2.625 2.625 0 00-1.91-1.91l-1.036-.258a.75.75 0 010-1.456l1.036-.258a2.625 2.625 0 001.91-1.91l.258-1.036A.75.75 0 0118 1.5zM16.5 15a.75.75 0 01.712.513l.394 1.183c.15.447.5.799.948.948l1.183.395a.75.75 0 010 1.422l-1.183.395c-.447.15-.799.5-.948.948l-.395 1.183a.75.75 0 01-1.422 0l-.395-1.183a1.5 1.5 0 00-.948-.948l-1.183-.395a.75.75 0 010-1.422l1.183-.395c.447-.15.799-.5.948-.948l.395-1.183A.75.75 0 0116.5 15z" clip-rule="evenodd" />
      </svg>
      
      <h2 class="my-8 text-2xl font-bold text-gray-700 dark:text-white md:text-4xl">
        Empowering Your Digital Journey
      </h2>
      <p class="text-gray-600 dark:text-gray-300">Welcome to Aurora, where we bring your digital dreams to life. With expert website design, seamless mobile apps, and effective digital marketing, we've got everything you need to thrive online. Let's create something amazing together!
      </p>
    </div>
    <div
      class="mt-16 grid divide-x divide-y divide-gray-100 dark:divide-gray-700 overflow-hidden rounded-3xl border border-gray-100 text-gray-600 dark:border-gray-700 sm:grid-cols-2 lg:grid-cols-4 lg:divide-y-0 xl:grid-cols-4"
    >
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341139.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <svg class="w-12" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 780 780" id="health-app-report"><path fill="#fff" d="M532 21.4H254.6c-25.6 0-46.4 20.8-46.4 46.4v645.8c0 25.6 20.8 46.4 46.4 46.4H532c25.6 0 46.4-20.8 46.4-46.4V67.8c0-25.6-20.8-46.4-46.4-46.4z"></path><path fill="#9ffdff" d="M578.4 713.6V67.8c0-2.2-.2-4.3-.4-6.4H309.6c-25.6 0-46.4 20.8-46.4 46.4v647.5c6.1 3 13 4.7 20.3 4.7H532c25.6 0 46.4-20.8 46.4-46.4z"></path><path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="20" d="M532 760H254.6c-25.6 0-46.4-20.8-46.4-46.4V67.8c0-25.6 20.8-46.4 46.4-46.4H532c25.6 0 46.4 20.8 46.4 46.4v645.8c0 25.6-20.8 46.4-46.4 46.4z"></path><path fill="#ff6498" d="M532 21.4H254.6c-22.2 0-40.8 16.7-45.3 39.1v589.8c0 7.1 7.2 12.9 16.1 12.9h336.4c8.9 0 16.1-5.8 16.1-12.9V63.8c-3.3-23.9-22.6-42.4-45.9-42.4z"></path><path fill="#ff0b5c" d="m495.1 76.8-5.2 7.8c-.1.1-.1.2-.2.3-5.2 9.1-17.1 15.5-30.8 16.3H330.8c-13.7-.9-25.6-7.2-30.8-16.3-.1-.1-.1-.2-.2-.3l-5.2-7.8c-1-1.6-2.8-2.5-4.7-2.5C275 74.3 263 84 263 95.9v561.8c0 3.1 2.5 5.6 5.6 5.6h293.2c8.9 0 16.1-5.8 16.1-12.9V79.9c0-3.1-2.5-5.6-5.6-5.6h-72.5c-1.9 0-3.6 1-4.7 2.5z"></path><path fill="none" stroke="#000" stroke-miterlimit="10" stroke-width="20" d="M532 21.4H254.6c-22.2 0-40.8 16.7-45.3 39.1v589.8c0 7.1 7.2 12.9 16.1 12.9h336.4c8.9 0 16.1-5.8 16.1-12.9V63.8c-3.3-23.9-22.6-42.4-45.9-42.4z"></path><path fill="#9ffdff" stroke="#1e120b" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="20" d="m502.9 25.3-13.1 19.5c-5.1 9.3-17.2 15.7-31.1 16.5H330.9c-13.9-.8-25.9-7.2-31.1-16.5l-13.1-19.5h216.2z"></path><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="20" d="M319.9 713.3h148"></path><path fill="#fff" d="M463.9 248.3H330.7c-22.1 0-40 17.9-40 40v133.2c0 22.1 17.9 40 40 40h133.2c22.1 0 40-17.9 40-40V288.3c0-22.1-17.9-40-40-40z"></path><path fill="#9ffdff" d="M360.7 278.3c-22.1 0-40 17.9-40 40v133.2c0 3.1.4 6.1 1 9 2.9.7 5.9 1 9 1h133.2c22.1 0 40-17.9 40-40V288.3c0-3.1-.4-6.1-1-9-2.9-.7-5.9-1-9-1H360.7z"></path><path fill="none" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="20" d="M463.9 461.5H330.7c-22.1 0-40-17.9-40-40V288.3c0-22.1 17.9-40 40-40h133.2c22.1 0 40 17.9 40 40v133.2c0 22.1-17.9 40-40 40z"></path><path fill="#ff0b5c" stroke="#000" stroke-linecap="round" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="20" d="M419.3 305.6c-17.5 2.5-24.2 18.1-24.2 18.1s-6.8-15.6-24.3-18.1c-15.3-2.2-41.5 6.2-41.5 35.7 0 41 65.8 77 65.8 77s65.8-36 65.8-77c-.1-29.5-26.4-37.9-41.6-35.7z"></path></svg>
          
          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Mobile App Development
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              Affordable app solutions, built fast.
              Your vision, our mobile expertise.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341134.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <svg class="w-12" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-name="Layer 1" viewBox="0 0 64 64" id="website"><defs><linearGradient id="c" x1="11.76" x2="59.37" y1="2.17" y2="72.34" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#e3effc"></stop><stop offset="1" stop-color="#9cbfe5"></stop></linearGradient><linearGradient id="a" x1="38" x2="48" y1="23" y2="23" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#134287"></stop><stop offset="1" stop-color="#061f4a"></stop></linearGradient><linearGradient id="d" x2="52" y1="31" y2="31" xlink:href="#a"></linearGradient><linearGradient id="e" x2="46" y1="39" y2="39" xlink:href="#a"></linearGradient><linearGradient id="f" x1="6" x2="10" y1="14" y2="14" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ff005d"></stop><stop offset="1" stop-color="#ff5924"></stop></linearGradient><linearGradient id="b" x1="12" x2="16" y1="14" y2="14" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#39b54a"></stop><stop offset="1" stop-color="#006838"></stop></linearGradient><linearGradient id="g" x1="37.12" x2="18.26" y1="45.06" y2="31.4" xlink:href="#b"></linearGradient><linearGradient id="h" x1="30.88" x2="5.61" y1="50.74" y2="32.43" xlink:href="#b"></linearGradient><linearGradient id="i" x1="16.44" x2="7.51" y1="36.29" y2="17.62" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#ffaf48"></stop><stop offset="1" stop-color="#ff5924"></stop></linearGradient></defs><rect width="60" height="48" x="2" y="8" fill="url(#c)" rx="5.05"></rect><path fill="url(#a)" d="M46,25H40a2,2,0,0,1,0-4h6a2,2,0,0,1,0,4Z"></path><path fill="url(#d)" d="M50,33H40a2,2,0,0,1,0-4H50a2,2,0,0,1,0,4Z"></path><path fill="url(#e)" d="M44,41H40a2,2,0,0,1,0-4h4a2,2,0,0,1,0,4Z"></path><circle cx="8" cy="14" r="2" fill="url(#f)"></circle><circle cx="14" cy="14" r="2" fill="url(#b)"></circle><path fill="#e3effc" d="M32,43H8a2,2,0,0,1-2-2V23a2,2,0,0,1,2-2H32a2,2,0,0,1,2,2V41A2,2,0,0,1,32,43Z"></path><path fill="url(#g)" d="M34,41V33l-2.94-2.94a3.61,3.61,0,0,0-5.12,0L17.5,38.5,19.55,43H32A2,2,0,0,0,34,41Z"></path><path fill="url(#h)" d="M18.56,32.56a3.61,3.61,0,0,0-5.12,0L6,40v1a2,2,0,0,0,2,2H29Z"></path><circle cx="12" cy="27" r="3" fill="url(#i)"></circle></svg>

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Website
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
             At Aurora, we create websites that stand out. Let's build yours today.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div class="group relative bg-white dark:bg-gray-800 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10">
        <div class="relative space-y-8 py-12 p-8">
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341160.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <svg class="w-12" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 512 512" viewBox="0 0 512 512" id="broadcast-messages"><path fill="#fcb43b" d="M426.6,451.9H84.8c-9.6,0-17.2-7.6-17.2-17.2V206.9h376.8v227.7C443.8,444.3,436.2,451.9,426.6,451.9z"></path><path fill="#f7a72f" d="M241,349.4L67.6,208h375.7L270.4,349.4C261.8,356,249.6,356,241,349.4z"></path><path fill="#fcb43b" d="M270.4,65.5l173.4,141.5H68.1L241.5,65.5C249.6,58.4,261.8,58.4,270.4,65.5z"></path><path fill="#74bc44" d="M219.3,230.7l-25.8,13.9c-4.7,2.6-10.6,0.7-13.3-4l0,0c-2.6-4.7-0.7-10.6,4-13.3l25.8-13.9
            c4.7-2.6,10.6-0.7,13.3,4l0,0C225.9,222.1,224,228.1,219.3,230.7z"></path><path fill="#7cc250" d="M258.3,246.5l-12.3,6.3l-20.2,10.8c-0.5,0.4-1.2,0.5-1.7,0.9c-9.5,4-20.6,0.1-25.6-9l-21.6-40.4
            c-5.4-9.9-1.6-21.9,8.4-27.3l32.5-17.1L258.3,246.5z"></path><polyline fill="#edeceb" points="216.3 171.2 326.9 102.1 375.2 191.2 256.8 247"></polyline><path fill="#7cc250" d="M384.3 199.5l-1.2.7c-2.5 1.4-5.6.6-6.7-1.9l-53.6-96.9c-1.4-2.5-.6-5.6 1.9-6.7l1.2-.7c2.5-1.4 5.6-.6 6.7 1.9l53.5 96.6C387.9 194.9 386.7 198.1 384.3 199.5zM440.9 147.6l-40.7 9.4c-1.9.6-2.8 2.5-2.5 4.4.6 1.9 2.5 2.8 4.4 2.5l40.7-9.4c1.9-.6 2.8-2.5 2.5-4.4C444.6 148.2 442.7 147.2 440.9 147.6zM431.5 106.5c-.8-1.8-2.8-2.5-4.6-1.7L389 122.6c-1.8.8-2.5 2.8-1.7 4.6.8 1.5 2.8 2.5 4.6 1.7l37.8-17.8C431.6 110.3 432.3 108.3 431.5 106.5zM398.5 69.5c-1.3-1.3-3.6-1.3-4.9 0L364 99.4c-1.3 1.3-1.3 3.6 0 4.9 1.3 1.3 3.6 1.3 4.9 0l29.7-29.9C399.8 73 399.9 70.8 398.5 69.5z"></path><path fill="#edeceb" d="M263.5,320.2l-13.2,4.6c-2.7,1-5.7-0.4-6.9-3.3l-19.7-56.9c0.6-0.1,1.2-0.5,1.7-0.9l20.2-10.8l21,60.5
            C268,316.4,266.2,319.1,263.5,320.2z"></path></svg>
          
          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Digital Marketing
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              We make it easy to reach your audience and achieve your goals online.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
      <div
        class="group relative bg-gray-50 dark:bg-gray-900 transition hover:z-[1] hover:shadow-2xl hover:shadow-gray-600/10"
      >
        <div
          class="relative space-y-8 py-12 p-8 transition duration-300 group-hover:bg-white dark:group-hover:bg-gray-800"
        >
          <!-- <img
            src="https://cdn-icons-png.flaticon.com/512/4341/4341025.png"
            class="w-12"
            width="512"
            height="512"
            alt="burger illustration"
          /> -->

          <svg class="w-12" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 100 100" viewBox="0 0 100 100" id="store"><rect width="76.796" height="70.018" x="11.602" y="20.188" fill="#fed35b"></rect><rect width="76.796" height="10.393" x="11.602" y="9.795" fill="#d6b24e"></rect><path fill="#dd584d" d="M3.9157708,29.3574295v5.4113884c0,5.090271,4.1264791,9.2167511,9.2168598,9.2167511l0,0
            c5.0902719,0,9.2167501-4.1264801,9.2167501-9.2167511v-5.4113884H3.9157708z"></path><path fill="#ededed" d="M22.3493805,29.3574295v5.4113884c0,5.090271,4.1265888,9.2167511,9.2169704,9.2167511
            c5.0902691,0,9.2167492-4.1264801,9.2167492-9.2167511v-5.4113884H22.3493805z"></path><path fill="#dd584d" d="M40.7831001,29.3574295v5.4113884c0,5.090271,4.1265907,9.2167511,9.2169685,9.2167511
            c5.0902748,0,9.2167511-4.1264801,9.2167511-9.2167511v-5.4113884H40.7831001z"></path><path fill="#ededed" d="M59.2168198,29.3574295v5.4113884c0,5.090271,4.1264801,9.2167511,9.2168579,9.2167511h0.0001144
            c5.090271,0,9.2167511-4.1264801,9.2167511-9.2167511v-5.4113884H59.2168198z"></path><path fill="#dd584d" d="M77.6505432,29.3574295v5.4113884c0,5.090271,4.1264801,9.2167511,9.2168579,9.2167511
            s9.2168579-4.1264801,9.2168579-9.2167511v-5.4113884H77.6505432z"></path><polygon fill="#cd5248" points="26.961 20.188 11.602 20.188 3.916 29.358 22.349 29.358"></polygon><polygon fill="#dbd8dd" points="42.32 20.188 26.961 20.188 22.349 29.358 40.783 29.358"></polygon><polygon fill="#cd5248" points="57.68 20.188 42.32 20.188 40.783 29.358 59.217 29.358"></polygon><polygon fill="#dbd8dd" points="73.039 20.188 57.68 20.188 59.217 29.358 77.651 29.358"></polygon><polygon fill="#cd5248" points="88.398 20.188 73.039 20.188 77.651 29.358 96.084 29.358"></polygon><rect width="76.796" height="7.565" x="11.602" y="82.64" fill="#bb9b45"></rect><rect width="26.527" height="3.939" x="36.736" y="86.266" fill="#32786a"></rect><rect width="19.161" height="29.607" x="40.419" y="56.66" fill="#2d6d60"></rect><g><rect width="19.485" height="11.042" x="16.268" y="67.316" fill="#4288b9"></rect><path fill="#fff" d="M36.424202,79.0289917H15.5973883V66.6445236H36.424202V79.0289917z M16.9395313,77.6868439h18.1425304
              v-9.7001724H16.9395313V77.6868439z"></path></g><g><rect width="19.485" height="11.042" x="64.247" y="67.316" fill="#4288b9"></rect><path fill="#fff" d="M84.4026489,79.0289917H63.5758286V66.6445236h20.8268204V79.0289917z M64.9179764,77.6868439h18.1425247
              v-9.7001724H64.9179764V77.6868439z"></path></g></svg>

          <div class="space-y-2">
            <h5
              class="text-xl font-semibold text-gray-700 dark:text-white transition group-hover:text-secondary"
            >
              Ecommerce 
            </h5>
            <p class="text-gray-600 dark:text-gray-300">
              we specialize in e-commerce solutions to your business. seamless online stores to secure payment systems.
            </p>
          </div>
          <a href="#" class="flex items-center justify-between group-hover:text-secondary">
            <span class="text-sm">Read more</span>
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 -translate-x-4 text-2xl opacity-0 transition duration-300 group-hover:translate-x-0 group-hover:opacity-100">
              <path fill-rule="evenodd" d="M12.97 3.97a.75.75 0 011.06 0l7.5 7.5a.75.75 0 010 1.06l-7.5 7.5a.75.75 0 11-1.06-1.06l6.22-6.22H3a.75.75 0 010-1.5h16.19l-6.22-6.22a.75.75 0 010-1.06z" clip-rule="evenodd" />
            </svg>                
          </a>
        </div>
      </div>
    </div>
  </Container>
</div>