---
import Container from "./Container.astro";

---

<div id="solution">
    <Container>
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 text-sky-500">
        <path fill-rule="evenodd" d="M2.25 13.5a8.25 8.25 0 018.25-8.25.75.75 0 01.75.75v6.75H18a.75.75 0 01.75.75 8.25 8.25 0 01-16.5 0z" clip-rule="evenodd" />
        <path fill-rule="evenodd" d="M12.75 3a.75.75 0 01.75-.75 8.25 8.25 0 018.25 8.25.75.75 0 01-.75.75h-7.5a.75.75 0 01-.75-.75V3z" clip-rule="evenodd" />
      </svg>
      
      <div class="space-y-6 justify-between text-gray-600 md:flex flex-row-reverse md:gap-6 md:space-y-0 lg:gap-12 lg:items-center">
        <div class="md:5/12 lg:w-1/2">
          <img
            src="./images/pie.svg"
            alt="image"
            loading="lazy"
            width=""
            height=""
            class="w-full"
          />
        </div>
        <div class="md:7/12 lg:w-1/2">
          <h2 class="text-3xl font-bold text-gray-900 md:text-4xl dark:text-white">
            Building Success, One Strategy at a Time
          </h2>
          <p class="my-8 text-gray-600 dark:text-gray-300">
            we understand the unique challenges startups face. Let us be your partner in success, providing tailored solutions and expert guidance to help your startup thrive.<br> <br> our meticulously crafted plans and strategies are designed to propel your business forward. Let us guide you towards achieving your goals with precision and expertise.
          </p>
          <div class="divide-y space-y-4 divide-gray-100 dark:divide-gray-800">
            <div class="mt-8 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-indigo-100 dark:bg-indigo-900/20">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6 m-auto text-indigo-500 dark:text-indigo-400">
                  <path fill-rule="evenodd" d="M4.848 2.771A49.144 49.144 0 0112 2.25c2.43 0 4.817.178 7.152.52 1.978.292 3.348 2.024 3.348 3.97v6.02c0 1.946-1.37 3.678-3.348 3.97a48.901 48.901 0 01-3.476.383.39.39 0 00-.297.17l-2.755 4.133a.75.75 0 01-1.248 0l-2.755-4.133a.39.39 0 00-.297-.17 48.9 48.9 0 01-3.476-.384c-1.978-.29-3.348-2.024-3.348-3.97V6.741c0-1.946 1.37-3.68 3.348-3.97zM6.75 8.25a.75.75 0 01.75-.75h9a.75.75 0 010 1.5h-9a.75.75 0 01-.75-.75zm.75 2.25a.75.75 0 000 1.5H12a.75.75 0 000-1.5H7.5z" clip-rule="evenodd" />
                </svg>        
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-indigo-300">Support & Suggestions </h3>
                <p class="text-gray-500 dark:text-gray-400">we provide unwavering support and insightful suggestions to fuel your journey towards success.</p>
              </div> 
            </div> 
            <div class="pt-4 flex gap-4 md:items-center">
              <div class="w-12 h-12 flex gap-4 rounded-full bg-teal-100 dark:bg-teal-900/20">  
               <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" data-name="Layer 1" viewBox="0 0 500 500" id="list"><defs><linearGradient id="a" x1="225.4" x2="225.4" y1="409.87" y2="136.46" gradientUnits="userSpaceOnUse"><stop offset="0" stop-color="#fff"></stop><stop offset=".26" stop-color="#dbe2ee"></stop><stop offset=".58" stop-color="#b6c4dd"></stop><stop offset=".84" stop-color="#9fb2d2"></stop><stop offset="1" stop-color="#97abce"></stop></linearGradient><linearGradient id="c" x1="225.4" x2="225.4" y1="134.71" y2="405.69" xlink:href="#a"></linearGradient><clipPath id="b"><rect width="273" height="273" x="88.9" y="134.15" fill="none" rx="61.58"></rect></clipPath></defs><g clip-path="url(#b)"><circle cx="339.4" cy="162.65" r="102.5" fill="red" opacity=".2"></circle><circle cx="339.4" cy="162.65" r="102.5" fill="#ff6969"></circle></g><path fill="red" d="M339.63 60.43a102.67 102.67 0 0 0-99 73.72h59.64a61.65 61.65 0 0 1 61.63 61.65v67.36A102.66 102.66 0 0 0 441.74 162c-.56-55.77-46.32-101.29-102.11-101.57Z"></path><rect width="273" height="273" x="88.9" y="134.15" fill="url(#a)" opacity=".2" rx="61.58"></rect><path fill="url(#c)" d="M300.32 137.15a58.65 58.65 0 0 1 58.58 58.58v149.76a58.66 58.66 0 0 1-58.65 58.66H150.56a58.66 58.66 0 0 1-58.66-58.66V195.8a58.65 58.65 0 0 1 58.66-58.65H299.9m.42-3H150.56A61.66 61.66 0 0 0 88.9 195.8v149.69a61.66 61.66 0 0 0 61.66 61.66h149.69a61.66 61.66 0 0 0 61.65-61.66V195.73a61.58 61.58 0 0 0-61.58-61.58Z" opacity=".42"></path><circle cx="152.9" cy="216.15" r="17" fill="#cecece"></circle><rect width="125" height="34" x="189.9" y="199.15" fill="#cecece" rx="17"></rect><circle cx="152.9" cy="272.15" r="17" fill="#cecece"></circle><rect width="125" height="34" x="189.9" y="255.15" fill="#cecece" rx="17"></rect><circle cx="152.9" cy="327.15" r="17" fill="#cecece"></circle><rect width="125" height="34" x="189.9" y="310.15" fill="#cecece" rx="17"></rect><circle cx="152.9" cy="212.15" r="17" fill="#fff"></circle><rect width="125" height="34" x="189.9" y="195.15" fill="#fff" rx="17"></rect><circle cx="152.9" cy="268.15" r="17" fill="#fff"></circle><rect width="125" height="34" x="189.9" y="251.15" fill="#fff" rx="17"></rect><circle cx="152.9" cy="323.15" r="17" fill="#fff"></circle><rect width="125" height="34" x="189.9" y="306.15" fill="#fff" rx="17"></rect></svg>                                      
              </div>
              <div class="w-5/6">
                <h3 class="font-semibold text-lg text-gray-700 dark:text-teal-300">Customization</h3>
                <p class="text-gray-500 dark:text-gray-400">Customization to ensure your solution fits you perfectly.</p>
              </div> 
            </div> 
          </div>
        </div>
      </div>
    </Container>
</div>
